.ql-editor {
  outline: none;
}
.ql-editor [data-placeholder].embed-area {
  position:relative;
}
.ql-editor [data-placeholder].embed-area:before {
  position:absolute;
  left:0;
  right:0;
  content:attr(data-placeholder);
  color:rgba(0,0,0,.44);
  font-weight:400;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
  pointer-events:none
}
.ql-editor .video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.ql-editor .video-wrapper iframe,
.ql-editor .video-wrapper object,
.ql-editor .video-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ql-editor iframe.rich {
  width: 1px;
  min-width: 100%;
}
.ql-editor figure {
  margin: 0 !important;
}
.ql-editor figure:focus {
  border: 2px solid #ccc;
}
/* Sidebar controls */
#sidebar-controls {
  display: none;
  position: absolute;
}
#sidebar-controls button {
  background-color: transparent;
  border: none;
  padding: 0;
}
#sidebar-controls .controls {
  display: none;
  margin-left: 15px;
}
#sidebar-controls .fa {
  color: #444;
}
#sidebar-controls button {
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  padding: 0;
  height: 32px;
  width: 32px;
  text-align: center;
}
#sidebar-controls button:active, #sidebar-controls button:focus {
  outline: none;
}
#sidebar-controls button#divider-button {
  letter-spacing: .3em;
}
.ql-bubble.ql-toolbar button, .ql-bubble .ql-toolbar button {
  color: #fff;
}
.ql-bubble .ql-tooltip {
  border-radius: 5px !important;
}
